<div class="container-fluid text-center">
    <nav class="navbar mx-auto mt-5" style="width: 50%;">
        <input type="form-contol" type="text" style="width: 100%; padding: 5px;" placeholder="Enter Text to Search">
    </nav>
    <table class="table table-hover table-bordered border-dark table-striped mx-auto mt-1" style="width: 50%;">
        <thead class="table-dark">
            <tr>
                <th>HEADINGGGGGG</th>
                <th>Some Heading</th>
                <th>Some Heading</th>
                <th>Some Heading</th>
                <th>Some Heading</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="userId == 'abcd' || isAdmin">
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
            </tr>
            <tr *ngIf="userId == 'abcd' || isAdmin">
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
            </tr>
            <tr *ngIf="userId == 'abcd' || isAdmin">
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
            </tr>
            <tr *ngIf="userId == 'abcd' || isAdmin">
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
            </tr>
            <tr *ngIf="userId == 'abcd' || isAdmin">
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
                <td>Some Data LOL</td>
            </tr>
            <tr *ngIf="userId == 'efgh' || isAdmin">
                <td>Some Data LeL</td>
                <td>Some Data LeL</td>
                <td>Some Data LeL</td>
                <td>Some Data LeL</td>
                <td>Some Data LeL</td>
            </tr>
            <tr *ngIf="userId == 'efgh' || isAdmin">
                <td>Some Data LeL</td>
                <td>Some Data LeL</td>
                <td>Some Data LeL</td>
                <td>Some Data LeL</td>
                <td>Some Data LeL</td>
            </tr>
            <tr *ngIf="userId == 'efgh' || isAdmin">
                <td>Some Data LeL</td>
                <td>Some Data LeL</td>
                <td>Some Data LeL</td>
                <td>Some Data LeL</td>
                <td>Some Data LeL</td>
            </tr>
            <tr *ngIf="userId == 'efgh' || isAdmin">
                <td>Some Data LeL</td>
                <td>Some Data LeL</td>
                <td>Some Data LeL</td>
                <td>Some Data LeL</td>
                <td>Some Data LeL</td>
            </tr>
            <tr *ngIf="userId == 'efgh' || isAdmin">
                <td>Some Data LeL</td>
                <td>Some Data LeL</td>
                <td>Some Data LeL</td>
                <td>Some Data LeL</td>
                <td>
                    <button class="text-success" data-bs-toggle="tooltip" title="Approve" (click)="triggerAlert()">
                        <mat-icon>done</mat-icon>
                    </button>
                    <button class="text-danger" data-bs-toggle="tooltip" title="Reject" (click)="triggerMode()">
                        <mat-icon>close</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>