<div class="container-fluid page">
    <div class="page__box p-3 mt-2">
        <p class="mt-4">Add a Service!</p>
    </div>

    <div class="page__content shadow p-3">
        <div class="page__content-data">
            <div class="container-fluid">
                <div class="row">
                    <form id="serviceForm" (ngSubmit)="addService()"
                        class="col-12 d-flex justify-content-center align-items-center">
                        <!-- <label>Add a Place</label> -->
                        <div class="input-field">
                            <input type="text" name="service" [(ngModel)]="serviceData.serviceName" #service="ngModel"
                                id="textArea">
                            <button class="btn" type="submit" id="btnAdd">Add Service</button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mx-auto">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef style="width: 30%;"> No. </th>
                            <td mat-cell *matCellDef="let row" style="width: 30%;"> {{row.id}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="service">
                            <th mat-header-cell *matHeaderCellDef style="width: 40%;"> Available Services </th>
                            <td mat-cell *matCellDef="let row" style="width: 40%;"> {{row.serviceName}} </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef style="width: 30%;"> Remove </th>
                            <td mat-cell *matCellDef="let row" style="width: 30%;">
                                <button mat-icon-button id="deleteBtn" (click)="deleteService(row.id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>