<div class="container-fluid page">
    <div class="page__box p-3 mt-2">
        <p class="mt-4">Book Your Slot!</p>
    </div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center">
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-12">
                        <form [formGroup]="userDetails" id="bookingForm">
                            <ul id="progressbar">
                                <li [ngClass]="step >= 1 ? 'active' : 'inactive'"></li>
                                <li [ngClass]="step >= 2 ? 'active' : 'inactive'"></li>
                                <li [ngClass]="step >= 3 ? 'active' : 'inactive'"></li>
                                <li [ngClass]="step == 4 ? 'active' : 'inactive'"></li>
                            </ul>
                            <fieldset *ngIf="step == 1">
                                <p class="display-3">Who?</p>
                                <input type="text" formControlName="name" [ngClass]="{'is-invalid' : userStep}"
                                    placeholder="Enter your Name"><br>
                                <input type="number" formControlName="phone" name="phone"
                                    placeholder="Enter Phone Number" autocomplete="off"><br>
                                <input type="button" (click)="next()" name="next" class="next action-button" value=">">
                            </fieldset>
                        </form>
                        <form [formGroup]="carDetails" id="bookingForm">
                            <fieldset *ngIf="step == 2">
                                <p class="display-3">What?</p>
                                <input type="text" formControlName="model" name="model"
                                    placeholder="Enter your Car Model" autocomplete="off"><br>
                                <!-- <input type="text" formControlName="service" name="service"
                                    placeholder="Choose the type of Service" autocomplete="off"><br> -->
                                <select formControlName="service" name="service">
                                    <option hidden selected>Choose a Service</option>
                                    <option *ngFor="let i of services">{{i.serviceName}}</option>
                                </select>
                                <input (click)="previous()" type="button" name="previous"
                                    class="previous action-button-previous" value="<">
                                <input (click)="next()" type="button" name="next" class="next action-button" value=">">
                            </fieldset>
                        </form>
                        <form [formGroup]="timeDetails" id="bookingForm">
                            <fieldset *ngIf="step == 3">
                                <p class="display-3">When?</p>
                                <!-- <input type="text" formControlName="date" name="date" placeholder="Enter Date"><br> -->
                                <input matInput [matDatepicker]="picker" formControlName="date"
                                    placeholder="Pick a Date" (dateChange)="setDate()">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <!-- <input type="text" formControlName="time" name="time" placeholder="Enter Time"><br> -->
                                <select formControlName="time" name="time" id="special" (ngModelChange)="setTime()">
                                    <option hidden selected>Choose a Slot</option>
                                    <option *ngFor="let options of slots"
                                        [attr.disabled]="disabledOptions.includes(options) ? true : null"
                                        [ngClass]="{'disabled_class': disabledOptions.includes(options)}">{{options}}
                                        <span class="fork" *ngIf="disabledOptions.includes(options)">
                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                            [Booked]&nbsp; &nbsp;</span>
                                    </option>
                                </select>
                                <input (click)="previous()" type="button" name="previous"
                                    class="previous action-button-previous" value="<" />
                                <input (click)="next()" type="button" name="next" class="submit action-button"
                                    value=">" />
                            </fieldset>
                        </form>
                        <form [formGroup]="locationDetails" id="bookingForm">
                            <fieldset *ngIf="step == 4">
                                <p class="display-3">Where?</p>
                                <select formControlName="place" name="place">
                                    <option hidden selected>Choose a Location</option>
                                    <option *ngFor="let i of places">{{i.placeName}}</option>
                                </select>
                                <input (click)="previous()" type="button" name="previous"
                                    class="previous action-button-previous-last" value="<" />
                                <input (click)="submit()" type="submit" name="submit"
                                    class="submit action-button-submit" value="Submit" />
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>