.logo {
    text-align: center;
    max-height: 6.85vh;
    min-height: 6.85vh;
    margin-top: -1vh;
}

.logo img {
    width: 100px;
    margin-top: -5px;
}

.mat-icon {
    vertical-align: center;
    margin-right: 1rem;
}

.mat-divider {
    margin-top: -2px;
    border-top-width: 2px;
    border-color: white;
}

.mat-list-item {
    text-align: center;
    color: white;
    font-size: 1.25rem;
    height: 44px !important;
    margin-bottom: 4px;
    border-radius: 5px;

}

.mat-list-item:hover {
    background: #182a55;
}